*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#2563eb);
}

header{
    text-align:center;
    color:white;
    padding:30px;
}

.container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:50px;
}

.card{
    width:280px;
    background:white;
    border-radius:15px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h2{
    color:#1d4ed8;
}

.card p{
    margin:15px 0;
}

button{
    padding:12px 25px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#1e40af;
}

footer{
    text-align:center;
    color:white;
    margin-top:60px;
    padding:20px;
}